:root {
  --tiny: 24rem; /* 384px; */
  --small: 50rem; /* 800px; */
  --medium: 64rem; /* 1024px */
  --large: 75rem; /* 1200px */
  --huge: 100rem; /* 1600px */

  --site-width-min: 85vw;
  --site-width-max: 64rem;
  --site-width: var(--site-width-min);
  --site-padding: calc((100vw - var(--site-width)) / 2);

  --font: "Open Sans", sans-serif;
  --background: #000;
  --color: white;
}

html {
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 3.5rem);
  /*   font-size: clamp(var(--tiny),var(--large), 1, 3.5); */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: var(--background);
  color: var(--color);
}
aside.font-info {
  font-size: 0.4rem;
  text-align: center;
  background: var(--color);
  color: var(--background);
  padding: 0.25rem;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
}
header,
footer {
  padding: var(--site-padding);
}
header img {
  margin: 0 auto;
  display: block;
}
section {
  width: 100vw;
  min-height: 100vh;
}
footer {
  font-size: 0.5rem;
}
.section-inner {
  width: var(--site-width);
  margin: 0 auto;
}

.section--background img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
a {
  text-decoration: none;
}
button {
  display: inline-block;
  height: 2rem;
  text-align: center;
  word-wrap: none;
  margin-bottom: 0.25rem;
  padding: 0 2rem;
  border: none;
  font-size: 0.7rem;
  font-family: var(--font);
  text-transform: uppercase;
  background: var(--color);
  color: var(--background);
  border-radius: 0.1rem;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background: var(--background);
  color: var(--color);
}
